* {
	font-family: "Inter", sans-serif;
	margin: 0;
	box-sizing: border-box;
	transition: background-color 0.6s ease, color 1s ease;
}

:root {
	--DarkBlue: hsl(230, 17%, 14%);
	--darkDesaturatedBlue: hsl(228, 28%, 20%);
	--veryDarkBlue: hsl(232, 19%, 15%);
	--desaturatedBlue: hsl(228, 34%, 66%);

	/* TODO: Use one color unit */
	--white: hsl(0, 0%, 100%);
	--lightBgCard: hsl(227, 47%, 96%);
	--veryPaleBlue: hsl(225, 100%, 98%);
	--lightTextTwo: hsl(230, 17%, 14%);
	--darkGrayishBlue: hsl(228, 12%, 44%);
	--shadowLight: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	--shadowObscure: inset 0 0 100px 100px rgba(148, 105, 13, 0.363);
}

/* themes */
.light-theme {
	/* TODO: Use camelCase or whatever you want, but stick to one pattern an be consistent */
	--topBackground: var(--veryPaleBlue);
	--mainBackground: var(--white);
	--headerH2: var(--lightTextTwo);
	--outsideText: var(--darkGrayishBlue);
	--cardBackground: var(--lightBgCard);
	--numbersColor: var(--lightTextTwo);
	--textColor: var(--darkGrayishBlue);
	--secondHeaderH2: var(--DarkBlue);
	--themeSwitchColor: var(--lightBgCard);
	--firtHeader: var(--lightTextTwo);
	--hoverEffect: var(--shadowObscure);
}

.dark-theme {
	/* TODO: Sort alphabetically all your rules and variables  */
	--cardBackground: var(--darkDesaturatedBlue);
	--firstHeader: var(--white);
	--headerH2: var(--white);
	--hoverEffect: var(--shadowLight);
	--mainBackground: var(--DarkBlue);
	--numbersColor: var(--white);
	--outsideText: var(--desaturatedBlue);
	--secondHeaderH2: var(--darkGrayishBlue);
	--textColor: var(--desaturatedBlue);
	--themeSwitchColor: var(--darkDesaturatedBlue);
	--topBackground: var(--veryDarkBlue);
}

body {
	background-color: var(--mainBackground);
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 170px;
}

/* headers style */
header {
	background-color: var(--topBackground);
	height: 210px;
	width: 100%;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	margin: auto;
}

.header-text {
	color: var(--outsideText);
	font-size: 14px;
	font-weight: 700;
}

h2 {
	font-weight: 700;
	margin-bottom: 5px;
}

.h2-color {
	color: var(--firtHeader);
}

.second-h2 {
	/* TODO: use nth-child selector */
	color: var(--secondHeaderH2);
	display: block;
	margin: auto;
	text-align: left;
	width: 310px;
	margin-top: 2em;
	margin-bottom: 1em;
}

/* large cards style */

.card-container {
	background-color: var(--cardBackground);
	border-radius: 4px;
	border-top-style: solid;
	border-top-width: 4px;
	height: 190px;
	text-align: center;
	width: 310px;
}

.card-container:hover {
	box-shadow: var(--hoverEffect);
}

.user-profile {
	color: var(--outsideText);
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: 700;
	justify-content: center;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

.user-position {
	margin-left: 8px;
}

.numbers {
	font-size: 3.3em;
	font-weight: 700;
	color: var(--numbersColor);
}

.people {
	color: var(--outsideText);
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 7px;
	display: block;
}

.status-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 1.5em;
}

.fb-style {
	border-top-color: hsl(208, 92%, 53%);
	margin: 0 auto 1.2em;
}

.tw-style {
	border-top-color: hsl(203, 89%, 53%);
	margin: 0 auto 1.2em;
}

.ig-style {
	margin: auto;
	margin: 0 auto 1.2em;
	border-image: linear-gradient(
			to right,
			hsl(37, 97%, 70%),
			hsl(329, 70%, 58%)
		)
		1;
}

.yt-style {
	border-top-color: hsl(348, 97%, 39%);
	margin: 0 auto 1.2em;
}

/* small cards style */

.smcard-container {
	background-color: var(--cardBackground);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 120px;
	margin: auto auto 1em;
	width: 310px;
}

.smcard-container:hover {
	box-shadow: var(--hoverEffect);
}

.social-network {
	align-items: center;
	color: var(--outsideText);
	display: flex;
	flex-direction: row;
	font-size: 13px;
	font-weight: 700;
	justify-content: space-between;
	margin: auto;
	width: 290px;
	padding: 10px 12px 0;
}

.second-status {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 290px;
	padding: 0 10px;
}

.number-position {
	margin-right: auto;
	font-size: 35px;
	font-weight: 700;
	color: var(--numbersColor);
}

/* up down arrow style */

.green-status {
	color: hsl(163, 72%, 41%);
	font-weight: 700;
	font-size: 12px;
}

.red-status {
	color: hsl(356, 69%, 56%);
	font-weight: 700;
	font-size: 12px;
}

/* button style */

input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 20px;
	background: linear-gradient(
		to right,
		hsl(210, 78%, 56%),
		hsl(146, 68%, 55%)
	);
	display: inline-block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 5px;
	width: 15px;
	height: 14px;
	background: var(--themeSwitchColor);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: hsl(230, 22%, 74%);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: -2px;
}

/* media queries */

@media only screen and (max-width: 649px) {
	header {
		padding-top: 2em;
	}

	.header-content {
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-width: 330px;
	}

	hr {
		margin-top: 1em;
		width: 90%;
		display: block;
		margin: 1em auto;
	}

	.switch-position {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1em;
		background-color: var(--topBackground);
	}
}

@media only screen and (min-width: 650px) {
	header {
		height: 16em;
		padding: 0 1em 5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.desktop-position {
		display: flex;
		flex-direction: column;
	}

	.switch-position {
		align-items: center;
		display: flex;
	}

	hr {
		display: none;
		width: 1%;
		text-align: center;
	}

	main {
		display: flex;
		justify-content: center;
	}

	.second-h2 {
		width: 100%;
		padding-left: 1em;
	}
}
